.mobile{
    font-size: large;
    font-size: 100px;
}
.colum{
    position: center;
    height: 250px;
    width: 250px;
    border: 1px solid black;
}
.img{
    position: center;
    width: fit-content;
    height: fit-content;
}
.ten{
    position: center;
    font-size: 50px;
    font-variant:small-caps ;
    color: rgb(170, 255, 0);
}